---
layout: 'base.njk'
---

<article class="main-article">
    <div class="container container--narrow flow">
        <h1 class="article-title">
            {{ title }}
        </h1>
        <figure class="main-article__figure">
            <img src="{{ image }}" alt="{{ imageAlt }}">
            <figcaption>
                {{ imageAlt }}
            </figcaption>
        </figure>
        {{  content   |  safe  }}
    </div>
</article>
<style>body {
    font-family: 'Arial, sans-serif';
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #444;
}

p {
    margin-bottom: 1em;
}

code {
    background: #f4f4f4;
    padding: 0.2em 0.4em;
    border-radius: 3px;
}
</style>